<header class="site-header">
	<div class="site-header__inner container">
		<a class="site-header__brand" href="/">
			<img
				src="/assets/logos/photosnap.svg"
				alt="Photosnap"
				width="170"
				height="16"
			/>
		</a>
	</div>
</header>

<style>
	.site-header {
		display: flex;
		align-items: center;
		block-size: var(--layout-header-block-size);
		background: var(--color-surface);
	}

	.site-header__inner {
		display: flex;
		align-items: center;
	}

	.site-header__brand {
		display: inline-flex;
		align-items: center;
		min-block-size: 1.5rem;
	}

	.site-header__brand img {
		inline-size: 10.625rem;
		block-size: 1rem;
	}
</style>
