---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
	title="Features | Photosnap"
	description="Explore the tools Photosnap provides for creating and sharing photo stories."
>
	<h1 class="visually-hidden">Features</h1>
</BaseLayout>
