---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
	title="Photosnap"
	description="Photosnap is a platform for photographers and visual storytellers to share photos, tell stories, and connect with others."
>
	<h1 class="visually-hidden">Photosnap</h1>
</BaseLayout>
